In [1]:
x=[]
type(x)

list

In [2]:
int_x=[1,2,3,4]
type(int_x)

list

In [3]:
mul_x=[12,12.0,'12.o',True]
type(mul_x)

list

In [4]:
print(mul_x)

[12, 12.0, '12.o', True]

In [5]:
len(mul_x)

4

In [6]:
mul_x[2]

'12.o'

In [7]:
mul_x[1::2]

[12.0, True]

In [8]:
mul_x[4]='Blahhhhh'

IndexError: list assignment index out of range

In [9]:
mul_x[1]='Blahhhh'
mul_x

[12, 'Blahhhh', '12.o', True]

In [10]:
mul_x[-1:0]

[]

In [11]:
mul_x[-1:1]                         #its always either the way (forward/reverse), it cant be both

[]

In [16]:
mul_x.append(102)
mul_x                          # the number adds as many times the code is run

[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102]

In [13]:
mul_x.append(1,2,3)
mul_x                 #append expects only a single value

TypeError: list.append() takes exactly one argument (3 given)

### extend

In [17]:
### to add multiple elements

In [18]:
mul_x.extend([1,2,3])
mul_x

[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3]

In [19]:
#list within a list

In [20]:
mul_x.append([1,2,3])
mul_x

[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]

In [21]:
len(mul_x)

12

In [22]:
a=[1,2,3,4]
b=[5,6,7]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7]

In [24]:
for i in mul_x:
    print(i,end=',')

12,Blahhhh,12.o,True,1200,1200,120,102,1,2,3,[1, 2, 3],

In [26]:
for i in range (0,len(mul_x)-2):
    print(mul_x)

[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]
[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]
[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]
[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]
[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]
[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]
[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]
[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]
[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]
[12, 'Blahhhh', '12.o', True, 1200, 1200, 120, 102, 1, 2, 3, [1, 2, 3]]

In [3]:
### nested loop

a=[1,2,[3,4,5]]
a[2][1]

4

In [4]:
list=[]
for i in range(5):
    a=input('enter a value: ')
    list.append(a)
    print(list)

enter a value: 1
['1']
enter a value: 2
['1', '2']
enter a value: 3
['1', '2', '3']
enter a value: 4
['1', '2', '3', '4']
enter a value: 5
['1', '2', '3', '4', '5']

In [5]:
l4=[1,2,3,4,5,6,7,8,9,0]
for i in l4:
    i=i+1
    print(i)
print(l4)

2
3
4
5
6
7
8
9
10
1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [6]:
### position of the elements
for i in range(len(l4)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(len(l4)):
    l4[i]=l4[i]+1
print(l4)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 2]

In [21]:
# Input the number of element in a list from the user and add o sub 5 to every element in the list

lt=[]
num=int(input('How many values do you need?'))
for i in range(num):
    a=input('enter a value: ')
    lt.append(int(a))
    print(lt)
for i in range(len(lt)):
    lt[i]=lt[i]+5
print(lt)

How many values do you need?4
enter a value: 1
[1]
enter a value: 2
[1, 2]
enter a value: 3
[1, 2, 3]
enter a value: 4
[1, 2, 3, 4]
[6, 7, 8, 9]

In [22]:
l4.insert(2,10)    #(position,value)
print(l4)

[3, 4, 10, 5, 6, 7, 8, 9, 10, 11, 2]

In [24]:
l4.remove(10)      #(value)
print(l4)          #(removes only the first occurance)

[3, 4, 5, 6, 7, 8, 9, 11, 2]

In [25]:
l4.pop()                #without argument removes the last element

2

In [28]:
l4.pop(0)             #argument value-index value

3

In [29]:
l4

[4, 5, 6, 7, 8, 9, 11]

In [27]:
l5=[1,2,3,4,5]
a=input('enter the position in the list: ')
b=input('enter the value in the list: ')
l5.insert(int(a),b)
print(l5)

enter the position in the list: 5
enter the value in the list: 6
[1, 2, 3, 4, 5, '6']

In [30]:
l4.index(7)     #to find the index value of the argument

3

In [31]:
l4.count(9)    ## no of values in the list

1

In [33]:
l4.sort()       #without arguments-asc order        # if any str or different datatypeis present in the list,sort doesnt work
print(l4)       # change made is permanent

[4, 5, 6, 7, 8, 9, 11]

In [34]:
l4.sort(reverse=True)       # For descending order 
print(l4)

[11, 9, 8, 7, 6, 5, 4]

In [35]:
new_list=sorted(l4)
new_list

[4, 5, 6, 7, 8, 9, 11]

In [36]:
new_list.reverse()
new_list

[11, 9, 8, 7, 6, 5, 4]

In [20]:
### nested loop - HACKER RANK
pst=[]
c=[]
n=int(input('number of students you need?'))
for i in range(n):
    while i<n:
        a=input('enter the name: ')
        b=int(input('enter the mark: '))
        c.append([a,b])       
        print(c)
        break       
    pst.append(c)
    
print(pst)

number of students you need?2
enter the name: ji
enter the mark: 4
[['ji', 4]]

IndexError: list index out of range

In [10]:
### class assignment
l1=[]
l2=[]
n=int(input('number of elements you need? '))
if n>=5 and n<=10:
    for i in range(n):
        a=input('enter the element: ')
        l2.append(a)
else:
    print('Invalid input')
print('list l2 is:',l2)
for i in (l2):
    if i not in l1:
        l1.append(i)
        
print(l1)

number of elements you need? 9
enter the element: 4
enter the element: 5
enter the element: 4
enter the element: 6
enter the element: 1
enter the element: 2
enter the element: 2
enter the element: 7
enter the element: 8
['4', '5', '6', '1', '2', '7', '8']